<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1
        class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900"
      >
        Checkout page
      </h1>
    </div>
    @if (cartStore.productsCount()) {
    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <button
        (click)="clearAll()"
        class="flex ml-auto text-white bg-orange-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded"
      >
        Clear all
      </button>
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl"
            >
              name
            </th>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"
            >
              Qty
            </th>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"
            >
              Price
            </th>
            <th
              class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"
            ></th>
          </tr>
        </thead>
        <tbody>
          @for (product of cartStore.products(); track $index) {
          <tr>
            <td class="px-4 py-3">{{ product.title }}</td>
            <td class="px-4 py-3">{{ product.qty }}</td>
            <td class="px-4 py-3 text-lg text-gray-900">
              {{ product.subTotal | currency : "EUR" : "symbol" : "1.2-2" }}
            </td>
            <td class="w-10 text-center">
              <button
                (click)="removeItem(product.id)"
                class="flex px-2 text-white bg-orange-500 border-0 rounded focus:outline-none hover:bg-red-600 rounded"
              >
                X
              </button>
            </td>
          </tr>
          }
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <hr class="border-gray-900 border-1-1" />
            </td>
          </tr>
          <tr>
            <td colspan="2">Total:</td>
            <td class="px-4 py-3 text-lg not-italic font-bold text-gray-900">
              {{
                cartStore.totalAmount() | currency : "EUR" : "symbol" : "1.2-2"
              }}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
      <button
        (click)="onProceedToPay()"
        class="flex ml-auto text-white bg-orange-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded"
      >
        Pay
      </button>
    </div>
    }@else {
    <div class="flex flex-col text-center w-full mb-20">
      <h1
        class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900"
      >
        The shopping cart is empty
      </h1>
    </div>
    }
  </div>
</section>
